<form hx-post="{% url 'review_submit' %}" hx-target="#modal-body" class="space-y-8">
    {% csrf_token %}

    <div class="space-y-2 group">
        <label
            class="font-display text-[10px] tracking-[0.4em] uppercase text-iron-600 group-focus-within:text-forge-600 transition-colors font-bold">Identité</label>
        {{ form.author_name }}
        {% if form.author_name.errors %}<p class="text-red-500 text-xs italic mt-1">{{ form.author_name.errors.0 }}</p>
        {% endif %}
    </div>

    <div class="space-y-2 group">
        <label
            class="font-display text-[10px] tracking-[0.4em] uppercase text-iron-600 group-focus-within:text-forge-600 transition-colors font-bold">Note
            Performance (1-5)</label>
        {{ form.rating }}
        {% if form.rating.errors %}<p class="text-red-500 text-xs italic mt-1">{{ form.rating.errors.0 }}</p>{% endif %}
    </div>

    <div class="space-y-2 group">
        <label
            class="font-display text-[10px] tracking-[0.4em] uppercase text-iron-600 group-focus-within:text-forge-600 transition-colors font-bold">Commentaire
            technique</label>
        {{ form.comment }}
        {% if form.comment.errors %}<p class="text-red-500 text-xs italic mt-1">{{ form.comment.errors.0 }}</p>{% endif
        %}
    </div>

    <div class="pt-6">
        <button type="submit"
            class="btn-rdv w-full !py-5 !text-lg !tracking-[0.3em] shadow-[0_10px_40px_rgba(234,88,12,0.2)]">
            TRANSMETTRE MON AVIS
        </button>
        <p class="text-center text-iron-700 text-[10px] uppercase tracking-widest mt-6">
            Note : Votre avis sera soumis à une inspection de modération avant publication.
        </p>
    </div>
</form>